


.kontensaya{
	margin:auto;
	width:95%;
	color:black;
	
	
	background-color:white;
	height:100%;
}

.kontenutama{
	position: relative;
	width:100%;
	height:100%;
	
}
	
	
	

.kontenkiri{
	
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	width:30%;
	color:black;	
	min-height:700px;
	float:left;
	
}

.kontenkanan{
	
	
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	width:69%;
	color:black;
	min-height:700px;
	float:right;
	
}

.kontenjudul{
	
	
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	width:100%;
	color:black;
	height:auto;
	
}


.break{
	
	
	
	width:100%;
	
	height:10px;
	
}



.kontenlogin{
	
	text-align:center;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	width:100%;
	color:black;
	height:auto;
	background-color:black;
	
}

.kontenseleasi{
	
	clear: both;
	
}



