


.konten{
	
	margin: 0 auto;
	width:95%;
	height:auto;
	
	background-color:white;
	
}


.formlaporan{
	
	margin: 0 auto;
	width:50%;
	height:auto;
	
	
}

.menutab{
	
	width:100%;
	height:auto;
	color:black;
	
}

.kontenutama{
	
	width:100%;
	min-height:200px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	
}

.kontensingle{
	
	width:100%;
	min-height:700px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	
}
.kontenpembayaran{
	float:right;
	width:80%;
	min-height:700px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	
	
}

.form{
	
	width:100%;
	min-height:200px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	
}

.formpembayaran{
	
	width:100%;
	min-height:200px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	
}
.formpembayarankiri{
	
	float:left;
	width:49%;
	min-height:100px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	
}
.formpembayarankanan{
	
	float:right;
	width:49%;
	min-height:100px;
	padding-left:10px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	
	
}


.menukiri{
	float:left;
	width:20%;
	min-height:700px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	padding-right:10px;
	background-color:black;
}


.kontenselesai{
	
	clear: both;
	
}


.fontmenukiri{
	
	
	font-size:10px;
	
	
	
}


